body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav a {
  height: 40px;
}

nav a img {
  height: 100%;
  width: 100%;
}

#hero {
  background-image: url("../img/hero/brown-hens-farm.jpg");
  background-size: cover;
  -webkit-backdrop-filter: brightness(0.3);
  backdrop-filter: brightness(0.1);
  background-position: center;
}

#hero .pembungkus-hero {
  -webkit-backdrop-filter: brightness(0.1);
  backdrop-filter: brightness(0.5);
}

#hero .pembungkus-hero img {
  height: 100%;
  width: 100%;
}

#memilih .card-body {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#memilih .card-body:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: -10px;
}

#kategori .card {
  border-radius: 19px;
  border: none;
  width: 100%;
}

#kategori .card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#kategori .card .card-img-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
}

#kategori .card .card-img-overlay .kategori-bungkus {
  background: rgba(255, 193, 7, 0.8);
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.3s ease-in;
  transition: visibility 0s, opacity 0.3s ease-in;
}

#kategori .card:hover .card-img-overlay .kategori-bungkus {
  visibility: visible;
  opacity: 1;
}

#kategori .card-kategori {
  display: none;
}

#terlaris .swiper {
  width: 100%;
  height: 100%;
}

#terlaris .swiper-slide {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#terlaris .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#terlaris .swiper-slide:hover {
  margin-top: -5px;
}

#langkah img {
  width: 100%;
}

#footer img {
  width: 100%;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 991px) {
  #hero .pembungkus-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-backdrop-filter: brightness(0.1);
    backdrop-filter: brightness(0.3);
    height: 100vh;
  }
  #hero .pembungkus-hero img {
    display: none;
  }
  #memilih .pembungkus-memilih {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  #kategori .pembungkus-kategori {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  #kategori .pembungkus-kategori .card-kategori {
    display: block;
  }
  #kategori .card:hover .card-img-overlay .kategori-bungkus {
    visibility: hidden;
    opacity: 0;
  }
  #terlaris h5 {
    font-size: 12px;
  }
  #terlaris p,
  #terlaris a {
    font-size: 10px;
  }
  #langkah img {
    padding: 0 !important;
  }
  #footer .logo-footer {
    text-align: center;
  }
  #footer .logo-footer img {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  #memilih .pembungkus-memilih h5 {
    font-size: 12px;
  }
  #memilih .pembungkus-memilih p {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */