body,
html {
  margin: 0;
  padding: 0;
}

// Navbar
nav {
  a {
    height: 40px;
    // width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
// Navbar End

// Hero
#hero {
  background-image: url('../img/hero/brown-hens-farm.jpg');
  background-size: cover;
  -webkit-backdrop-filter: brightness(0.3);
  backdrop-filter: brightness(0.1);
  background-position: center;
  .pembungkus-hero {
    -webkit-backdrop-filter: brightness(0.1);
    backdrop-filter: brightness(0.5);
    // background-image: linear-gradient(to right, #000, transparent);
    img {
      height: 100%;
      width: 100%;
    }
  }
}
// Hero End

// Memilih
#memilih {
  .card-body {
    transition: 0.5s;
  }
  .card-body:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: -10px;
  }
}
// Memilih End

// Kategori
#kategori {
  .card {
    border-radius: 19px;
    border: none;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .card-img-overlay {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0;
      .team-bungkus {
        background: rgba(255, 193, 7, 0.8);
        border-radius: 15px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in;
      }
    }
  }
  .card:hover {
    .card-img-overlay {
      .team-bungkus {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
// Kategori End

// Terlaris
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// Terlaris End
