body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #dc3545;
  --second: #ffc107;
}

// Navbar
nav {
  a {
    height: 40px;
    // width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .active {
    color: var(--second) !important;
  }
}
// Navbar End

// Hero
#hero {
  #hero1,
  #hero2,
  #hero3 {
    background-size: cover;
    -webkit-backdrop-filter: brightness(0.3);
    backdrop-filter: brightness(0.1);
    background-position: center;
    .pembungkus-hero {
      height: 100vh;
      display: flex;
      align-items: center;
      -webkit-backdrop-filter: brightness(0.1);
      backdrop-filter: brightness(0.4);
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-pagination-bullet {
    background-color: var(--second);
    padding: 10px;
  }
}
// Hero End

// Memilih
#memilih {
  .card-body {
    transition: 0.5s;
  }
  .card-body:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: -10px;
  }
}
// Memilih End

// Kategori
#kategori {
  .card {
    border-radius: 19px;
    border: none;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .card-img-overlay {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0;
      .kategori-bungkus {
        background: rgba(255, 193, 7, 0.8);
        border-radius: 15px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in;
      }
    }
  }
  .card:hover {
    .card-img-overlay {
      .kategori-bungkus {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .card-kategori {
    display: none;
  }
}
// Kategori End

// Terlaris
#terlaris {
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      transition: 0.3s;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .swiper-slide:hover {
    margin-top: -5px;
  }
}
// Terlaris End

// Langkah
#langkah {
  img {
    width: 100%;
  }
}
// Langkah End

// Footer
#footer {
  img {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
// Footer End

// Kategori Page
#kategori-page {
  ul {
    li {
      button {
        color: #000;
        transition: 0.5s;
      }
      button:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      .active {
        margin-top: -10px;
        background-color: var(--primary) !important;
        color: #fff;
      }
    }
  }
  .card-ayam {
    transition: 0.2s;
  }
  .card-ayam:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
// Kategori Page End

// Detail Ayam Page
#detail-page {
  .inline-group {
    max-width: 12rem;
  }
  .form-control[type='number']::-webkit-inner-spin-button,
  .form-control[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
// Detail Ayam Page End

// Keranjang Page
#keranjang-page {
  .inline-group {
    max-width: 12rem;
    .form-control[type='number']::-webkit-inner-spin-button,
    .form-control[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.modal.right {
  .modal-dialog {
    position: fixed;
    right: 0;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    .modal-content {
      height: 100%;
      overflow-y: auto;
      .modal-body {
        padding: 15px 15px 80px;
        .inline-group {
          max-width: 12rem;
        }
        .form-control[type='number']::-webkit-inner-spin-button,
        .form-control[type='number']::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
}
// Keranjang Page End

// Login Page
#login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .col-md-6 {
    border-radius: 15px;
  }
}
// Login Page End

// Form Step
#form-step {
  .nav-pills {
    .active {
      background-color: var(--primary) !important;
    }
  }
}
// Form Step End

@media screen and (max-width: 991px) {
  #memilih {
    .pembungkus-memilih {
      .card-gratis,
      .card-halal,
      .card-aman {
        width: 50%;
        img {
          width: 70% !important;
        }
      }
    }
  }

  #kategori {
    .pembungkus-kategori {
      display: grid;
      grid-template-columns: auto auto;
      .card-kategori {
        display: block;
      }
    }
    .card:hover {
      .card-img-overlay {
        .kategori-bungkus {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

  #terlaris {
    h5 {
      font-size: 12px;
    }
    p,
    a {
      font-size: 10px;
    }
  }

  #langkah {
    img {
      padding: 0 !important;
    }
  }

  #footer {
    .logo-footer {
      text-align: center;
      img {
        width: 50%;
      }
    }
  }

  #kategori-page {
    padding: 0 !important;
    .row {
      padding: 0 !important;
      ul {
        display: grid;
        grid-template-columns: auto auto auto;
        li {
          padding: 0;
          button {
            .card-body {
              h5 {
                font-size: 12px;
              }
            }
          }
          .active {
            margin-top: 0px;
          }
        }
      }
    }
    .pembungkus-card-ayam {
      display: grid;
      grid-template-columns: auto auto;
      h5 {
        font-size: 12px;
      }
      p,
      a {
        font-size: 10px;
      }
    }
  }

  #detail-page {
    h2 {
      font-size: 16px;
    }
    h3 {
      font-size: 15px;
    }
    h5 {
      font-size: 12px;
    }
    p,
    a,
    button,
    .form-control {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  #detail-page {
    padding: 0 !important;
    img {
      width: 50%;
      padding: 0;
    }
  }

  #form-step {
    .img-form {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  #memilih {
    .pembungkus-memilih {
      h5 {
        font-size: 12px;
      }
      p {
        font-size: 10px;
      }
    }
  }

  #kategori {
    .pembungkus-kategori {
      .card-kategori {
        p {
          font-size: 10px;
        }
        h5,
        a {
          font-size: 12px;
          padding: 5px 15px !important;
        }
      }
    }
  }

  #detail-page {
    img {
      width: 70%;
    }
  }
}
